body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333; /* Cor de fundo escuro */
    color: #fff; /* Cor das letras claras */
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    line-height: 1.5;
  }
  .resp-img {
    max-width: 100%;
    height: auto;
  }
  